body {
    font-family: 'Nunito', sans-serif;
    background-image: url(/img/bkg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 14px;
    color: #444444;
}

h4{
    font-size: 20px;
    font-weight: bold;
}

a:hover{
    font-weight: bold;
}

.dropdown-item{
    color: #444444;
}

.dropdown-item:hover{
    background-color: #ffffff00;
    color: #444444;
}

.navbar-toggler{
    background-color: white;
}

.footer p{
    color: #fff;
}

.footer a{
    color: #fff;
    text-decoration: none;

}

.footer a:hover{
    font-weight: bold;
}

.footer-2 .col-md-6{
    text-align: right;
}

.footer-2 .col-12{
    text-align: center;
}